<p id="notice"><%= notice %></p>

<p>
  <b>First Name:</b>
  <%= @phone1.first_name %>
</p>

<p>
  <b>Last Name:</b>
  <%= @phone1.last_name %>
</p>

<p>
  <b>Phone Number:</b>
  <%= @phone1.phone_number %>
</p>


<%= link_to 'Edit', edit_phone1_path(@phone1) %> |
<%= link_to 'Back', phone1s_path %>
